body {
	font-family: Arial, Sans-Serif;
	background-color: #E4572E;
}
.board {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	width: 45%;
	height: 75vh;
}
h1, p {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
h1, ol, p {
	color: #F0F8EA;
}

h1 {
	font-size: 4em;
	margin-bottom: 0;
}

ol {
	display: none;
	background-color: #91C653;
	border-radius: 5%;
	padding: 2em;
	width: 10em;
	position: fixed;
	top: 2.5em;
	right: 2.5em;
}
.about {
	top: 1em;
	right: 1em;
	position: fixed;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 2em;
	height: 2em;
	background-color: #91C653;
	border: 5px solid #91C653;
	border-radius: 50%;
	color: #F0F66E;
}

.square {
	display: flex;
	justify-content: center;
	font-size: 5em;
	overflow: visible;
}

span {
	justify-content: space-around;
	align-content: space-around;
	font-size: 1.7em;
	color: #F0F8EA;
}

.board > * {
	box-sizing: border-box;
	width: 33.33%;
}

.square-0, .square-1, .square-3, .square-4,
.square-6, .square-7 {
	border-right: 4px solid #F0F66E;
}

.square-0, .square-1, .square-2, .square-3,
.square-4, .square-5 {
	border-bottom: 4px solid #F0F66E;
}

.square-1, .square-2, .square-4, .square-5,
.square-7, .square-8 {
	border-left: 4px solid #F0F66E;
}

.square-3, .square-4, .square-5, .square-6,
.square-7, .square-8 {
	border-top: 4px solid #F0F66E;
}

@media (min-width: 901px) and (max-width: 1100px) {
	.board {
		height: 75vh;
	}
}

@media (min-width: 740px) and (max-width: 900px) {
	.board {
		width: 70%;
		height: 70vh;
	}
}

@media (min-width: 590px) and (max-width: 739px) {
	.board {
		width: 80%;
	}
}

@media (min-width: 560px) and (max-width: 589px) {
	.board {
		width: 95%;
	}
}

@media screen and (max-width: 559px) {
	.board {
		width: 100%;
		height: 55vh;
	}
}

/*		.square-1 {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.square-2 {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.square-3 {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.square-4 {
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.square-5 {
	border: 1px solid black;
}
.square-6 {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.square-7 {
	border-top: 1px solid black;
	border-right: 1px solid black;
}
.square-8 {
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
}
.square-9 {
	border-top: 1px solid black;
	border-left: 1px solid black;		
}*/